.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 189 133);
  --md-sys-color-surface-tint: rgb(255 183 122);
  --md-sys-color-on-primary: rgb(38 17 0);
  --md-sys-color-primary-container: rgb(194 131 73);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(231 196 169);
  --md-sys-color-on-secondary: rgb(36 18 3);
  --md-sys-color-secondary-container: rgb(170 139 114);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(200 207 155);
  --md-sys-color-on-tertiary: rgb(20 24 0);
  --md-sys-color-tertiary-container: rgb(141 149 101);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(239 224 214);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(255 250 248);
  --md-sys-color-surface-variant: rgb(81 68 59);
  --md-sys-color-on-surface-variant: rgb(218 199 186);
  --md-sys-color-outline: rgb(177 160 147);
  --md-sys-color-outline-variant: rgb(144 128 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(239 224 214);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(109 60 6);
  --md-sys-color-primary-fixed: rgb(255 220 193);
  --md-sys-color-on-primary-fixed: rgb(31 12 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 122);
  --md-sys-color-on-primary-fixed-variant: rgb(84 44 0);
  --md-sys-color-secondary-fixed: rgb(255 220 193);
  --md-sys-color-on-secondary-fixed: rgb(30 13 1);
  --md-sys-color-secondary-fixed-dim: rgb(227 192 165);
  --md-sys-color-on-secondary-fixed-variant: rgb(72 49 30);
  --md-sys-color-tertiary-fixed: rgb(224 231 177);
  --md-sys-color-on-tertiary-fixed: rgb(15 19 0);
  --md-sys-color-tertiary-fixed-dim: rgb(195 203 151);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 57 19);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(65 55 49);
  --md-sys-color-surface-container-lowest: rgb(20 13 8);
  --md-sys-color-surface-container-low: rgb(34 26 20);
  --md-sys-color-surface-container: rgb(38 30 24);
  --md-sys-color-surface-container-high: rgb(49 40 34);
  --md-sys-color-surface-container-highest: rgb(60 51 44);
}
